*.swp
*.swo
*.un~
*.orig
target
.idea
*.iml
*.ipr
*.iws
*.jar
*.class
.lein-*
.nrepl-port
infinisink/dist/*
infinisink/.cabal-sandbox/**
infinisink/cabal.sandbox.config
ulli-ui/bower_components/**
ulli-ui/app.js
